*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: rgba(167, 68, 38, 0.82);
  height: 100vh;
}



.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  position: relative;
  background: url("forest.jpg");
  background-size: cover;


}

.header-right{
  width: 50%;
}

.header-left {
  width: 50%;
  text-align: center;
  color: antiquewhite;
}

.header-left h1{font-size: 2.6rem;}

.header-img {
  margin-top: 4px;
  position: relative;
  max-height: 90vh;
}

